<div class="container-fluid">
  <header class="home-header">
    <nav-directive></nav-directive>
    <div class="headline">
        <h2>Web Developer</h2>
        <div class="content">
          <ul class="subcaption">
            <li>MEAN Stack</li>
            <li>React &amp; Redux</li>
            <li>HTML &amp; CSS</li>
            <li>Javascript</li>
          </ul>
        </div>
    </div>
  </header>

  <h5></h5>
  <div class="row">
    <div class="col s12 m6 l4">
      <h5 class="center-align">Bolu</h5>
      <h5 class="center-align"><small>Language Learning</small></h5>
      <div class="image-container">
        <img class="responsive-img" src="../images/bolu.jpg" alt="">
      </div>
    </div>
    <div class="col s12 m6 l4">
      <h5 class="center-align">SareeSwap</h5>
      <h5 class="center-align"><small>Clothing Exchange</small></h5>
      <div class="image-container">
        <img class="responsive-img saree" src="../images/saree.jpg" alt="">
      </div>
    </div>
    <div class="col s12 m6 l4">
      <h5 class="center-align">FeroVino</h5>
      <h5 class="center-align"><small>Ecommerce &amp; Delivery</small></h5>
      <img class="responsive-img saree" src="../images/ferovino.jpg" alt="">
    </div>
  </div>
</div>
